<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
    <!-- test文件路径 -->
    <property name="TEST_FILE_PATH" value="/home/app/logs/websocket/" />
    <!-- forecast文件路径 -->
    <property name="FORECAST_FILE_PATH" value="/home/centos/logs/websocket/" />
    <!-- pro文件路径 -->
    <property name="PRO_FILE_PATH" value="/home/centos/logs/websocket/" />

    <!-- 开发环境 -->
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <logger name="com.sinochem.yunlian.truck" level="debug"/>

        <!--elk-->
        <!--<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
            <!--&lt;!&ndash;-->
            <!--destination 是 logstash 服务的 host:port，-->
            <!--相当于和 logstash 建立了管道，将日志数据定向传输到 logstash-->
            <!--&ndash;&gt;-->
            <!--<destination>127.0.0.1:9250</destination>-->
            <!--<encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder"/>-->
        <!--</appender>-->
        <!--<logger name="com.sinochem.yunlian.truck" level="debug" additivity="false">-->
            <!--<appender-ref ref="LOGSTASH" />-->
        <!--</logger>-->

        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="dev,test">
        <!-- 每天产生一个文件 -->
        <appender name="TEST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <file>${TEST_FILE_PATH}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${TEST_FILE_PATH}/info.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <MaxHistory>100</MaxHistory>
            </rollingPolicy>

            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>
        <logger name="com.sinochem.yunlian.truck" level="debug"/>
        <root level="info">
            <appender-ref ref="TEST-FILE" />
        </root>
    </springProfile>


    <!-- 准环境 -->
    <springProfile name="forecast">
        <!-- 每天产生一个文件 -->
        <appender name="FORECAST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <file>${FORECAST_FILE_PATH}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${FORECAST_FILE_PATH}/info.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <MaxHistory>100</MaxHistory>
            </rollingPolicy>

            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>
        <logger name="com.sinochem.yunlian.truck" level="debug"/>
        <root level="info">
            <appender-ref ref="FORECAST-FILE" />
        </root>
    </springProfile>


    <!-- 生产环境 -->
    <springProfile name="prod,prodbeta">
        <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PRO_FILE_PATH}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${PRO_FILE_PATH}/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
                <MaxHistory>100</MaxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>
        <logger name="com.sinochem.yunlian.truck" level="debug"/>
        <root level="INFO">
            <appender-ref ref="PROD_FILE" />
        </root>
    </springProfile>
</configuration>
